<!DOCTYPE html>
<html>
  <head>
    <title>Enderchest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="bg-50 top-0 left-0 fixed w-full h-full z-[-10]" style="background-image: url('<%= asset_url("dirt.jpg") %>');"></div>
    <main class="mx-auto max-w-5xl px-4 mt-[75px] mb-[75px] bg-white drop-shadow-2xl">
      <div class="p-8">
        <%= image_tag "logo.png", class: "mx-auto" %>

      </div>
      <%= yield %>
    </main>
  </body>
</html>
